* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .introName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15%;
  text-align: center;
}

body .introName h1, body .introName .contact-form h3, body .contact-form .introName h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
}

body .introName h3 {
  font-family: "Playfair Display", serif;
  font-size: 2.85rem;
  font-weight: 400;
}

body .introName a {
  margin-top: 8%;
  font-family: "Ubuntu", sans-serif;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.7rem 1.45rem 0.7rem 1.45rem;
  -webkit-transition: ease .6s;
  transition: ease .6s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .introName a:hover {
  background-color: #f34fb8;
  color: white;
}

body .container {
  background: linear-gradient(125deg, rgba(242, 203, 245, 0.3), rgba(205, 134, 249, 0.3), rgba(205, 248, 246, 0.3), rgba(198, 99, 243, 0.3), #DE9BE3);
  background-size: 800%;
  -webkit-animation: bganimation 10s infinite;
          animation: bganimation 10s infinite;
  margin: 0 auto;
}

@-webkit-keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body .container header {
  text-align: center;
}

body .container header img {
  width: 80px;
  margin-top: 10px;
}

body .container header h1, body .container header .contact-form h3, body .contact-form .container header h3 {
  font-family: "Ubuntu", sans-serif;
  margin-top: 10px;
  font-size: 2.95rem;
}

body .container header h3 {
  font-family: "Ubuntu", sans-serif;
  color: #f34fb8;
  margin-top: 10px;
  font-size: 1.55rem;
  font-weight: 300;
}

body .container header p {
  font-family: "Playfair Display", serif;
  margin: 10px 0 10px 0;
  font-size: 1.2rem;
  color: #5f5f5f;
}

body .container header nav {
  margin-top: 2rem;
}

body .container header nav a {
  margin: 1rem;
  text-decoration: none;
  color: #f34fb8;
  font-size: 1.3rem;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
}

body .container header nav a:hover {
  color: #5f5f5f;
}

body .container .container-icons {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.15rem;
}

body .container .container-icons img {
  width: 20%;
}

body .container .container-icons p {
  margin-top: 1rem;
}

body .container .hidden {
  visibility: hidden;
}

body .about-me {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #5f5f5f;
}

body .about-me h2 {
  font-family: "Ubuntu", sans-serif;
}

body .about-me .about-me-picture {
  margin-top: 2rem;
  width: 125px;
  border-radius: 100%;
}

body .about-me p {
  margin: 0 auto;
  margin-top: 2rem;
  width: 50%;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.15rem;
  font-weight: 300;
  letter-spacing: 1.1px;
  color: #5f5f5f;
}

body .about-me .social-icons {
  margin-top: 2rem;
}

body .about-me .social-icons a {
  margin: 1rem;
}

body .about-me .social-icons a img {
  max-width: 32px;
}

body .about-me .social-icons a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .skill-icons {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.15rem;
}

body .skill-icons img {
  width: 20%;
}

body .skill-icons p {
  margin-top: 1rem;
}

body #projects {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  margin-top: 2rem;
}

body #projects img {
  width: 400px;
  margin-top: 2rem;
  border-radius: 1%;
}

body #projects h1, body #projects .contact-form h3, body .contact-form #projects h3 {
  margin-top: 2rem;
}

body #projects p {
  margin: 2rem auto 1rem auto;
  width: 60%;
  letter-spacing: 1.1px;
  color: #5f5f5f;
}

body #projects a {
  color: #f34fb8;
}

body #projects a:hover {
  color: #5f5f5f;
}

body #projects .restaurant {
  padding-bottom: 2rem;
  border-bottom: 1px solid #5f5f5f;
}

body .contact-form {
  background-color: #efefef;
  margin-top: 2rem;
  text-align: center;
}

body .contact-form h1, body .contact-form h3 {
  font-family: "Ubuntu", sans-serif;
  padding-top: 2rem;
}

body .contact-form h3 {
  color: #5f5f5f;
  padding-top: 0.5rem;
  font-family: "Playfair Display", serif;
}

body .contact-form h3 span {
  color: #f34fb8;
}

body .contact-form form {
  padding-top: 2rem;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
}

body .contact-form form input, body .contact-form form textarea {
  margin-top: 1rem;
  padding: 0.5rem;
  font-family: "Ubuntu", sans-serif;
  color: #f34fb8;
  font-size: 1.1rem;
  border: 1px solid #5f5f5f;
  outline-color: #f34fb8;
}

body .contact-form form textarea {
  padding: 1.2rem;
}

body .contact-form form input[type="submit"], body .contact-form form textarea[type="submit"] {
  color: #fff;
  background-color: #5f5f5f;
  outline: none;
  border: none;
  -webkit-transition: .45s ease;
  transition: .45s ease;
}

body .contact-form form input[type="submit"]:hover, body .contact-form form textarea[type="submit"]:hover {
  background-color: #f34fb8;
}

body footer {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5f5f5f;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
}

body footer a {
  text-decoration: none;
  background-color: #5f5f5f;
  color: #fff;
  padding: 1rem;
  -webkit-transition: .45s ease;
  transition: .45s ease;
}

body footer a:hover {
  background-color: #f34fb8;
}

@media only screen and (max-width: 720px) {
  .container-icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container-icons div {
    margin-top: 1rem;
  }
  .container-icons div img {
    width: 22%;
  }
  #about p {
    width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  .container header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .restaurant img {
    width: 200px;
  }
  #projects .restaurant p {
    width: 85%;
  }
  #projects .landingpage img {
    width: 200px;
  }
  #projects .landingpage p {
    width: 85%;
  }
  #formId {
    width: 85%;
  }
}
/*# sourceMappingURL=main.css.map */