* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$main-font: 'Ubuntu', sans-serif;
$handwrite-font: 'Playfair Display', serif;
$accent-color: #f34fb8;
$secondary-color: #5f5f5f;
$light-touch: #efefef;
body {
    
    .introName {
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        text-align: center;

        h1 {
            font-family: $main-font;
            font-size: 4rem;
            text-transform: uppercase;
        }
        h3 {
            font-family: $handwrite-font;
            font-size: 2.85rem;
            font-weight: 400;
        }
        a {
            margin-top: 8%;
            font-family: $main-font;
            color: #000;
            text-transform: uppercase;
            text-decoration: none;
            padding: 0.7rem 1.45rem 0.7rem 1.45rem;
            transition: ease .6s;
            align-self: center;
            &:hover {
                background-color: $accent-color;
                color: white;
            }
        }
    }//introName FIRST PAGE

    .container {
        //width: 90%;
        background-color: $light-touch;
        margin: 0 auto;
        header {
            text-align: center;
            img {
                width: 80px;
                margin-top: 10px;
            }
            h1 {
                font-family: $main-font;
                margin-top: 10px;
                font-size: 2.95rem;
            }
            h3 {
                font-family: $main-font;
                color: $accent-color;
                margin-top: 10px;
                font-size: 1.55rem;
                font-weight: 300;
            }
            p {
                font-family: $handwrite-font;
                margin: 10px 0 10px 0;
                font-size: 1.2rem;
                color: $secondary-color;
            }
            nav {
                margin-top: 2rem;
                a {
                    margin: 1rem;
                    text-decoration: none;
                    color: $accent-color;
                    font-size: 1.3rem;
                    font-family: $main-font;
                    text-transform: uppercase;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }//HEADER
    }
    .container-icons {
        background-color: $light-touch;

        padding: 2rem;
        //margin-top: 2rem;
        
        display: flex;
        justify-content: center;

        text-align: center;
        font-family: $main-font;
        font-size: 1.15rem;
        img {
            width: 20%
        }
        p {
            margin-top: 1rem;
        }
    }
    .hidden {
        visibility: hidden;
    }
    .about-me {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        margin-top: 2rem;

        padding-bottom: 2rem;
        border-bottom: 1px solid $secondary-color;
        h2 {
            font-family: $main-font;
        }
        .about-me-picture {
            margin-top: 2rem;
            width: 125px;
            border-radius: 100%;
        }
        p {
            margin: 0 auto;
            margin-top: 2rem;
            width: 50%;

            font-family: $main-font;
            font-size: 1.15rem;
            font-weight: 300;
            letter-spacing: 1.1px;
            color: $secondary-color;
        }
        .social-icons {
            margin-top: 2rem;
            a {
                margin: 1rem;
                img {
                    max-width: 32px;
                    &:hover {
                        transform: scale(1.1);
                    }            
                }
                
            }
        }
    }//.about-me
    .skill-icons {
        @extend .container-icons;
    }
    #projects {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-family: $main-font;
        font-size: 1.1rem;
        margin-top: 2rem;
        img {
            width: 400px;
            margin-top: 2rem;
            border-radius: 1%;
        }
        h1 {
            margin-top: 2rem;
        }

        p {
            margin: 2rem auto 1rem auto;
            width: 60%;
            letter-spacing: 1.1px;
            color: $secondary-color;
        }
        a {
            color: $accent-color;
            &:hover {
                color: $secondary-color;
            }
        }
        .restaurant {
            padding-bottom: 2rem;
            border-bottom: 1px solid $secondary-color;
        }
    }//#projects
    .contact-form {
        background-color: $light-touch;
        margin-top: 2rem;
        text-align: center;
        h1 {
            font-family: $main-font;
            padding-top: 2rem;
        }
        h3 {
            @extend h1;
            color: $secondary-color;
            padding-top: 0.5rem;
            font-family: $handwrite-font;
            span {
                color: $accent-color;
            }
        }
        form {
            padding-top: 2rem;
            width: 60%;
            margin: 0 auto;
            padding-bottom: 2rem;
            display: flex;
            flex-direction: column;
            font-family: $main-font;
            font-size: 1.1rem;
            input {
                margin-top: 1rem;
                padding: 0.5rem;
                font-family: $main-font;
                color: $accent-color;
                font-size: 1.1rem;
                border: 1px solid $secondary-color;
                outline-color: $accent-color;
            }
            textarea {
                @extend input;
                padding: 1.2rem;
            }
            input[type="submit"] {
                color: #fff;
                background-color: $secondary-color;
                outline: none;
                border: none;
                transition: .45s ease;
                
                &:hover {
                    background-color: $accent-color;
                }
            }
        }
    }
    footer {
        width: 90%;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $secondary-color;
        font-size: 1.5rem;
        font-family: $main-font;
        a {
            text-decoration: none;
            background-color: $secondary-color;
            color: #fff;
            padding: 1rem;
            transition: .45s ease;
            &:hover {
                background-color: $accent-color;
            }
        }
    }
}//BODY

//RESPONSIVE
@media only screen and (max-width: 720px) {
    .container-icons {
        flex-wrap: wrap;
        div {
            margin-top: 1rem;
            img {
                width: 22%;
            }
        }
    }
    
    #about {
        
        p {
            width: 80%;
        }
    }
}
@media only screen and (max-width: 550px) {
    .container {
        header {
            nav {
               display: flex;
               flex-direction: column; 
            }
        }
    }
    #projects {
        .restaurant {
            img {
                width: 200px;
            }
            p {
                width: 85%;
            }
        }
        .landingpage {
            img {
                width: 200px;
            }
            p {
                width: 85%;
            }
        }
    }
    #formId {
        width: 85%;
    }
}


