$main-blue: #5F46BE; //rgb(95, 70, 190) 
$light-blue: #aa94ff; //#7058cd
$main-green: #30B133; //rgb(48, 177, 51
$accent: #c9c9c9;
$accent-second: #fff;
$header: #000;

$main-font: 'Open Sans', sans-serif;